/*
 * Estilos de tu proyecto
 */
*{
	margin: 0;
	padding: 0;
}
/************
     NAV
*************/    
nav{
 	background-color: #2c3e50;
	position: fixed;
	z-index: 5;
	width: 100%;
	height: 100px;
 	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .container-left{
 	font-size: 1.5rem;
 }

 .container-right a{
 	text-decoration: none;
 	color: white;
 	font-size: 0.9rem;
 }
 .container-right a:hover{
 	color: #18bc9c;
 }
 .container-right li{
  	list-style: none;
 	display: inline-block;
 }
 .container-right li > a{
 	display: block;
 	padding: 10px 15px;
 }
 /************
 PRESENTATION
*************/ 
header{
 	background-color: #18bc9c;
 	width: 100%;
 	height: 600px;
 	display: flex;
	justify-content: center;
	align-items: center;
    color: #fff;
	padding: 90px 0 10px;
 }
.presentation{
	text-align: center;
}
 .presentation h1{
 	font-size: 4.75rem;
 	color: white;
	padding: 15px;
}
hr{
	border-top: 5px solid;
	width: 100px;
	text-align: center;
	margin: 15px 10px 30px;
}
.presentation span{
	font-size: 1.5rem;
}
 /************
  PORTFOLIO
*************/
.portfolio{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 0 1px;
}
.container{
	width: 100%;
	max-width: 1200px;
	margin: 30px auto;
}
.row: before, 
.row:after{
	content: " ";
	display: table;
}
.row:after{
	clear: both;
	width: 100%;
}
.col-4{
    float: left;
    width: 33.3333%;
    overflow: hidden;
    padding-bottom: 20px;
}
.cont-img{
	height: 250px;
}
.portfolio-images{
	padding-left: 70px;
}
/************
    ABOUT
*************/
.about{
	color: white;
	background-color: #18bc9c;
	width: 100%;
 	height: 450px;
 	clear: both;
	padding: 50px 0 1px;
}
.text{
	display: flex;
	justify-content: center;
}
.text p{
	width: 360px;
	font-size: 20px;
	margin: 10px;
}
.icon{
	display: flex;
	justify-content: center;
}
.icon a:hover{
	background-color: white;
	color: #18bc9c;
}

.icon a{
	font-size: 1.2rem;
	margin-top: 20px;
	border-radius: 10px;
	border: 2px solid white;
	text-decoration: none;
	color: white;
	padding: 15px;
}
/************
   CONTACT
*************/
.contact{
	width: 100%;
 	height: 600px;
	padding: 90px 0 1px;
}
.form{
	margin-left: 16.66666667%;
}
.data{
	border-top: 2px solid #eee;
	width: 800px;
	font-size: 30px;
}
.data input,
.data textarea{
	outline: none;
	border: none;
	font-size: 1.5rem;
}
.form .btn-send{
	color: #fff;
	background-color: #128f76;
	padding: 15px;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer; 
}
.form .btn-send:hover{
	background-color: #1e7362;
}
/************
    FOOTER
*************/
footer .social{
	padding: 30px 0;
	width: 100%;
	height: 200px;
	background-color: #2c3e50;
	color: white;
	text-align: center;
}
.social-media{
	border-radius: 100%;
	border: 2px solid #fff;
	height: 50px;
	width: 50px;
	font-size: 20px;
	text-align: center;
	margin-right: 10px;
}
.social-media i{
	margin-top: 15px;
}

.social-media:hover{
	background-color: white;
	color: #18bc9c;
}
.sociales{
	display: flex;
	justify-content: center;
}
.col-4 a{
	text-decoration: none;
	color: #18bc9c;
}
.col-4 a:hover{
	text-decoration: underline;
}
.row p{
	font-size: 1.2rem;
	width: 340px;
	margin-left: 30px;
}
.copyright{
	padding: 25px 0;
	background-color: #233140;
	text-align: center;
	color: #fff;
	font-size: 13px;
}